@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&family=Outfit:wght@300;400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"');


:root {
    --primary-color: #f5f6f7;
    --accent-color: #5a7d7c;
    --accent-translucent: #5a7d7c2a;
    --offset: #e2e6ea;
    --menu: rgba(255, 255, 255, 0.95);
    --transparent: rgba(0, 0, 0, 0);
    --primary-text-color: #2e2e2e;
    --secondary-text-color: #5a7d7c;
    --button-active: #3b5554;
    --transparent: #00000000;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    font-family: "Kalam", "Outfit", Arial;
    color: var(--light-grey);
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}  

body {
    margin: 0;
    padding: 50px;
    padding-bottom: 10rem;
    min-height: 100%;
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #b2b3b5;
    height: 6rem;
}

h1 {
    opacity: 0;
    margin-top: 27.5px;
    font-size: 2em;
    color: var(--accent-color);
    text-align: center;
}

.day-item {
    display: flex;
    flex-direction: column;
}

.button-neutral {
    background-color: var(--accent-color);
    font-size: 1.5em;
    color: var(--primary-color);
    margin: auto 0;
    border: solid var(--accent-color) 2px;
    padding-inline: 25px;
    border-radius: 10px;
    line-height: 3em;
    height: auto;
    opacity: 1;

    &:hover {
        cursor: pointer;
    }

    &:active {
        color: var(--button-active);
        background-color: var(--primary-color);
    }
}

#indexH2 {
    opacity: 0;
    color: rgb(214, 214, 214);
}

.sidebar-hamburger {
    position: absolute;
    font-size: 2em;
    cursor: pointer;
    color: var(--accent-color);
    border: none;
    background-color: var(--transparent);
    left: 0;
}

#index-main-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;
}

.button-tray {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-translucent);
    padding: 2.5rem 0;
    width: 100vw;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    transition: transform 0.3s ease;
}

#meal-manager__button-tray {
    display: none;
}

.tray-hidden {
    transform: translateY(158px);
    transition: transform 0.3s ease;
}

#toggle-chevron {
  transition: transform 0.3s ease;
}

#toggle-chevron.rotated {
  transform: rotate(180deg);
}

.tray-toggle {
    position: absolute;
    top: -25px;
    right: 10px;
    width: 100px;
    height: 25px;
    background-color: var(--accent-translucent);
    border-radius: 5px 5px 0 0;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drag-handle {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    font-size: 1.5em;
    cursor: grab;
    color: var(--accent-color);
    background: var(--transparent);
    border: none;
}

legend {
    letter-spacing: 0.15rem;
    text-align: center;
}
 
#inputSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#meals-table {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: 30%;
}

#meals-number {
    width: 170px;
    height: 40px;
    text-align: center;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

legend {
    color: var(--accent-color);
}


.dayOfWeek {
    font-size: 2em;
    color: var(--accent-color);
    text-align: center;
}

.meal-text {
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    color: var(--light-grey);
    font-weight: 700;
    padding-bottom: 8px;
    opacity: 0;
    font-size: 1.5em;
    letter-spacing: 2.5px;
}

.ingredients-text {
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
    opacity: 0;
    font-size: 1.5em;
}

.sidebar {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    overflow-x: hidden;
    transition: 0.3s;
    text-wrap: nowrap;
    padding-top: 70px;

    a {
        padding: 25px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: var(--primary-text-color);
        display: block;
        transition: 0.3s;
      }
  }
  
  .sidebar .sidebar-links {
    padding-top: 70px;
  }

  .sidebar a:hover {
    color: var(--secondary-text-color);
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


/* Meal Manager */

main {
    display: flex;
    display: none;
    flex-direction: column;
}

.dayOfWeek {
    display: none;
}

.meal-item {
    display: table;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 14px auto;
    gap: 14px;
    padding: 15px 30px 15px 30px;
    border-radius: 14px;
    background: var(--accent-translucent);
    width: 75%;
    td {
        max-width: 40rem;
        padding-inline: 1rem;
        vertical-align: middle;
        text-align: left;
    }
}

.meal-details {
    display: inline-block;
    width: 100%;
}

.actions-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 14px;
    width: 100%;
    height: 100%;
    color: var(--secondary-text-color);
    background-color: var(--transparent);
}

.action-icon {
    transition-duration: 200ms;
    border: none;
    background: transparent;
    cursor: pointer;
}

#input-container {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    display: none;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: var(--menu);
}

.input__meal-title,
.input__meal-ingredients {
    border: none;
    text-align: left;
    background-color: var(--transparent);
    color: var(--secondary-text-color);
    margin: 10px 0 15px 0;
    font-size: 1.5em;
    flex: 1;
    font-size: 1.1em;
    text-wrap: wrap;
}

.input__meal-title {
    font-weight: 700;
}

.text-input > input {
    position: relative;
    margin: 0 auto;
    width: 50vw;
    max-height: 5px;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    border: 2px solid var(--accent-color)
}

.text-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#new-meal-btns {
    background-color: var(--transparent);
    display: flex;
}

#add-btn {
    margin: 0 auto;
    margin-top: 10px;
    height: 40px;
    width: 30%;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid var(--accent-color);
    font-family:'Outfit', 'Arial';
    color: var(--primary-text-color);
    background-color: var(--accent-color);
}

#add-btn:active {
    color: var(--accent-color);
    background-color: var(--primary-color);
}

.fa-solid {
    background-color: var(--transparent);
    color: var(--accent-color);
    font-size: 1.1em;
}

.fa-pen-to-square:hover {
    color: var(--accent-color);
}

.fa-trash:hover {
    color: rgb(216, 53, 53);
}

#cross-btn {
    position: absolute;
    right: 75px;
    z-index: 1;
    cursor: pointer;
    top: 10px;
    font-size: 36px;
    text-decoration: none;
    background-color: var(--offset);
}

#add-icon {
    position: fixed;
    bottom: 50px;
    right: 50px;
    background-color: var(--transparent);
}

#add-icon:hover {
    cursor: pointer;
}

#add-icon:active {
    scale: 1.1;
}

#open-meal-adder {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: var(--accent-color);
    box-shadow: rgba(89, 89, 89, 0.071) 3px 3px 8px, rgba(89, 89, 89, 0.071) 3px 3px 8px;

    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

#vertical-strip {
    position: absolute;
    height: 40px;
    width: 7px;
    margin-left: 21.5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
}

#horizontal-strip {
    position: absolute;
    height: 7px;
    width: 40px;
    margin-left: 5px;
    margin-top: 21.5px;
    border-radius: 5px;
    background-color: var(--primary-color);
}

.draggable.dragging {
    opacity: 1;
}

.draggables-container {
    gap: 14px;
}

.draggables-container:last-child {
    margin-bottom: 0;
}

.rotate {
    display: inline-block;
    transition: transform 0.3s ease-in;
}

#about-title {
    opacity: 0;
}

@media (width <= 1280px) {
    #meals-table {
        width: 70%;
    }

    .meal-item {
        width: 100%;
    }
}