:root {
    --main-color: #03060a;
    --accent-color: rgba(254, 176, 32, 0.874);
}

html {
    padding: 20px 30px 30px 30px;
}

* {
    font-family: Helvetica;
    background-color: var(--main-color);
    color: #b2b3b5;
}


header {
    display: flex;
    margin-bottom: 50px;
    border-bottom: 1px solid #b2b3b5;
    padding-bottom: 10px;
}

h1 {
    margin: auto;
    color: var(--accent-color);
    letter-spacing: 0.15rem;
}

legend {
    font-weight: bold;
    letter-spacing: 0.1rem;
}
 
#inputSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

table {
    margin: auto;
    z-index: -1;
    /* Prevents table lines interfering with other elements on page */
}

#meals-number {
    width: 170px;
    height: 40px;
    text-align: center;
    border: solid 1px #b2b3b5;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

#numberButtons {
    margin: auto;
    align-items: center;
    font-size: 20px;
    border: none;
    padding: 25px;
}

legend {
    color: var(--accent-color);
}

.numBtn {
    height: 40px;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid var(--accent-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    color: var(--accent-color);
}

.numBtn:active {
    color: var(--main-color);
    background-color: var(--accent-color);
}

.num-btn:hover {
    color: var(--main-color);
    background-color: var(--accent-color);
}

#meals-table {
    position: relative;
   
    margin-bottom: -30px;
}


td {
    vertical-align: top;
}

.ingredientsText {
    padding-bottom: 30px;
    opacity: 0;
}

.mealText {
    color: orange;
    font-weight: 600;
    padding-bottom: 8px;
    opacity: 0;
}

#char {
    margin-left: 10px;
}

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0; /* Change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: var(--main-color);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.3s;
    text-wrap: nowrap;
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #7e8d9b;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    display: flex;
    font-size: 40px;
    cursor: pointer;
    color: #b2b3b5;
    padding: 10px 15px;
    border: none;
    justify-content: right;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }


/* Meal Manager */

main {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.mealItem {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 14px;
    border-radius: 14px;
    background: rgba(0, 0, 0, 0.793);
}

.mealItem p {
    flex: 1;
    background: rgba(0, 0, 0, 0);
    margin-left: 25px;
    margin-right: 25px;
}

.actionsContainer {
    display: flex;
    align-items: center;
    gap: 14px;
    background-color: rgba(0, 0, 0, 0);
}

.actionsContainer button {
    transition-duration: 200ms;
    border: none;
    background: transparent;
    cursor: pointer;
}

.actionsContainer button:hover {
    opacity: 0.7;
}

#inputContainer {
    position: fixed;
    bottom: 50px;
    width: 100vw;
    display: grid;
    display: none;
    justify-content: center;
    
}

.inputBtns {
    position: relative;
    display: grid;
    margin: 10px;
    padding: 10px;
}

.inputBtns > input {
    position: relative;
    width: 50vw;
    max-height: 5px;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

#add-btn {
    position: relative;
    margin: 0 auto;
    height: 40px;
    width: 50vw;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid var(--accent-color);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--main-color);
    background-color: var(--accent-color);
}

#add-btn:active {
    color: var(--accent-color);
    background-color: var(--main-color);
}

#add-btn:hover {
    color: var(--accent-color);
    background-color: var(--main-color);
}

.fa-solid {
    background-color: rgba(0, 0, 0, 0);
}


#close-input {
    position: relative;
    z-index: 1;
}

#close-input {
    cursor: pointer;
}

#close-line1 {
    position: absolute;
    height: 30px;
    width: 8px;
    border-radius: 5px;
    background-color: #4b4b4b;
    transform: rotate(45deg);
    right: -5px;
}

#close-line2 {
    position: absolute;
    height: 8px;
    width: 30px;
    border-radius: 5px;
    background-color: #4b4b4b;
    transform: rotate(45deg);
    right: -15px;
    margin-top: 10px;
}

#add-icon {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#add-icon:hover {
    cursor: pointer;
}

#add-icon:active {
    scale: 1.1;
}

#orange-circle {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: var(--accent-color);
    box-shadow: rgba(89, 89, 89, 0.071) 3px 3px 8px, rgba(89, 89, 89, 0.071) 3px 3px 8px;
}

#vertical-strip {
    position: absolute;
    height: 40px;
    width: 7px;
    margin-left: 21.5px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: var(--main-color);

}

#horizontal-strip {
    position: absolute;
    height: 7px;
    width: 40px;
    margin-left: 5px;
    margin-top: 21.5px;
    border-radius: 5px;
    background-color: var(--main-color);
}
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}

  }

@media screen and (max-width: 500px) {
#numberButtons {width: 250px;}
}