:root {
    --main-color: #1c2e47;
}

html {
    margin: 30px;
}

* {
    font-family: verdana;
    background-color: var(--main-color);
    color: #b2b3b5;
}


header {
    display: flex;
    margin-bottom: 50px;
}

h1 {
    margin: auto;
}

form {
    margin-bottom: 20px;
    margin: auto;
}

#generate-btn {
    width: 170px;
    height: 40px;
}
 
#inputSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

table {
    margin: auto;
}

#meals-number {
    width: 170px;
    height: 40px;
    text-align: center;
    border: solid 1px #b2b3b5;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

#mealInput {
    margin: auto;
}

#numberButtons {
    margin: auto;
}

.numBtn {
    height: 40px;
    width: 80px;
    font-size: 16px;
    font-weight: bold;
}

td {
    vertical-align: top;
}

.ingredientsText {
    padding-bottom: 30px;
}

.mealText {
    color: orange;
    font-weight: 600;
    padding-bottom: 8px;
}

/* .container {
    display: flex;
} */

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0; /* Change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: var(--main-color);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px;
    transition: 0.3s;
    text-wrap: nowrap;
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #7e8d9b;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    display: flex;
    font-size: 40px;
    cursor: pointer;
    color: #b2b3b5;
    padding: 10px 15px;
    border: none;
    justify-content: right;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidebar {padding-top: 15px;}
.sidebar a {font-size: 18px;}

  }

@media screen and (max-width: 500px) {
#numberButtons {width: 250px;}
}